<app-document-tree style="position: absolute;z-index:100;left: 0;top: 0;" [nodes]="nodes" (selectc)="select($event)" (refactor)="refactor($event)">
</app-document-tree>
<div class="btn-group" style="position: absolute;height:30px;right: 15px;top: 0px;">
	<button class="btn btn-outline-secondary" style="font-size: 12px;border-radius: 0 ;" (click)="editDoc()">编辑</button>
	<button class="btn btn-outline-primary" style="font-size: 12px;" (click)="newDoc()">新建</button>
	<button class="btn btn-outline-danger" style="font-size: 12px;" (click)="deleteDoc()">删除</button>
	<button class="btn btn-outline-secondary" style="font-size: 12px;border-radius: 0;" (click)="saveDoc()">保存</button>
</div>
<div class="row" style="margin: 0px 0 -30px 0;padding:40px 0 0 10px;height: inherit;">
	<div class="col-6 " *ngIf="edit" id="textPanel" style="margin-bottom: -40px;">
		<textarea id="textArea" class="form-control form-control-sm" [style.height]="initHeight" style="min-height: 200px;"[(ngModel)]="rawData" (input)="refreshHTML()"></textarea>
		<button class="btn btn-outline-light" (click)="expandTextArea()">下降{{row}}行</button>  
		<button class="btn btn-outline-light" (click)="reduceTextArea()">上升{{row}}行</button>  
		<input class="form-control-plaintext" style="display:inline-block;float:right;width: 40px;" type="number" max="99" min="1" [(ngModel)]="row"/>
	</div>
	<div [class]="showDataClass +' showPanel'" style="min-height: 200px;"
		 id="htmlPanel" [innerHTML]="showData">
	</div>
</div>