<div>
	<input type="text" [(ngModel)] = "searchedSymbol" 
				(input)="findTheSymbolInList($event)"
				style="width: 100%" 
				placeholder="输入品种名搜索，如EURUSD"/>
	<div class="pre-scrollable" style="min-height: 500px;">
		<table class="table table-hover" style="top: 300px;">
			<tr *ngFor="let a of asks;index as i" style="font:normal bolder 12px arial;">
				<td id="{{a['s']}}" 
					style="cursor: pointer;"
					(click)="selectSymbol(a)">
					{{a['s']}}
				</td>
				<td>{{a['a']}}</td>
			</tr>
		</table> 
	</div>
		
	
</div>