name: qizhuangSite

server:
  port: 8080

spring:
  profiles:
    #active: dev

  datasource:
    driver-class-name: com.mysql.jdbc.Driver
    url: jdbc:mysql://192.168.136.132:3306/qizhuangsite?characterEncoding=utf8&useSSL=false&serverTimezone=UTC
    username: root
    password: 123456

  data:
    mongodb:
      uri: mongodb://qizhuang:123456@192.168.136.132:27017/qizhuangsite

  jpa:
    #database: MYSQL
    show-sql: true
    hibernate:
      ddl-auto: create
      naming-strategy: org.hibernate.cfg.ImprovedNamingStrategy
    properties:
      hibernate:
        dialect: org.hibernate.dialect.MySQL5Dialect
  jackson:
    serialization:
      indent_output: true