.dataPanel{
	position: absolute;
	left: 0;
	top: 0;
	height: 100%;
	width: 223px;
	padding:0 2px 2px 0;
	border-bottom-right-radius: 2px;
	background-color: lightblue;
	border-right: #343A40 solid 1px;
}

.leftSpace{
	left: 15px;
}
