<div style="">
	<div class="card">
		<a href="#">
			<img class="card-img-top" src="../../assets/default.jpg" alt="My head">
		</a>
		<span class="badge badge-dark" style="border-radius: 0;">奇状</span>
	</div>
	<div class="card">
		<div *ngFor="let button of buttons" class="btn-group-vertical">
			<button *ngIf="button.ifShow" class="btn btn-primary" 
				style="border-radius: 0;border-bottom:solid black 1px;" 
				(click)="goHref(button,false)">
				{{button.title}}
			</button>
			<div id="{{button.id}}" *ngIf="button.ifShow" class="btn-group-vertical" style="width: 100%;">
				<div style="border-radius: 0;border-bottom:solid black 1px;width: 100%;" 
					*ngFor="let subbutton of button.subButton" 
					(click)="goHref(subbutton,true)">
					<button class="btn btn-secondary" 
						*ngIf="subbutton.ifShow"
						id="{{subbutton.id}}" >
						{{subbutton.title}}
					</button>
				</div>
			</div>
		</div>
	</div>
</div>