<div class="navbar navbar-expand-sm bg-dark navbar-dark row">
	<div class="navbar-brand col-sm-3 itemheight">
		<img src="../../favicon.ico" alt="Logo"/>
	</div>
	<div class="navbar-nav col-sm-7 itemheight">
		<div class="nav-item btn-group">
				<button class="btn btn-dark">注册</button>
				<button class="btn btn-dark">登陆</button>
				<button class="btn btn-dark">管家</button>
		</div>
	</div>
	<div class="navbar-nav col-sm-2 itemheight">
		<div class="nav-item text-light">
			<img src="../../favicon.ico" alt="Search"/>
		</div>
	</div>
</div>