<div class="navbar navbar-expand-sm bg-dark navbar-dark row">
	<div class="navbar-brand col-sm-3 itemheight">
		<div class="bgRound"></div>
		<img class="banner" src="../../assets/favicon.gif" alt="Logo"/>
	</div>
	
	<div class="navbar-nav col-sm-7 itemheight">
		<div class="nav-item btn-group">
			<button class="btn btn-dark" (click)="test()">管家</button>
			<button class="btn btn-dark" (click)="signUp()">注册</button>
			<button *ngIf = "!ifSignIn" class="btn btn-dark" (click)="signIn()">登录</button>
			<button *ngIf = "ifSignIn" class="btn btn-dark" (click)="logOut()">退出登录</button>
		</div>
	</div>
	<div class="navbar-nav col-sm-2 itemheight">
		<div class="nav-item input-group">
			<input class="form-control" style="height: 44px;" type="text" name="search" id="search"/>
			<div class="input-group-addon btn btn-light" style="border-radius:0 4px 4px 0;">
				<img style="height: 30px;margin-right: -3px;" src="../../assets/search.gif" alt="Search"/>
			</div>
		</div>
	</div>
</div>