<div *ngFor="let node of nodes" id="node.id" class="tree-node" >
	<div style="display: inline-block;" *ngIf="!node.deleted">
		<span [style.color]="colorDependOnType(node.type)" style="display: inline;">
			<div (click)="changeSelectedNode(node)" class="node-text">
				> {{node.text}}
			</div>
			<button class="btn btn-dark mv" (click)="crefactor(node)">
				mv
			</button>
		</span>
	</div>
	<div *ngIf="isNotLast(node) && node.showChildren">
		<app-tree-root  [nodes]="node.children" (select)="selectc($event)" (refactor)= "childRefactor($event)" [depth]="depth + 1"></app-tree-root>
	</div>
</div>